<!DOCTYPE html>
<html lang="en">
	<head>
		<title>three.js webgl - OBJLoader2</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
/*STUB_CSS_EMBED*/
/*STUB_CSS_LINK*/
	</head>

	<body>
		<div id="info">
			<a href="http://threejs.org" target="_blank">three.js</a> - OBJLoader2 direct loader test
			<div id="feedback"></div>
		</div>
		<div id="glFullscreen">
			<div id="menu">
				<p id="shading" onclick="app.alterSmoothShading()">Smooth Shading</p>
				<p id="side" onclick="app.alterDouble()">Front Side</p>
			</div>
			<canvas id="example"></canvas>
		</div>

		<script src="../../node_modules/three/examples/js/Detector.js"></script>
		<script src="../../node_modules/three/build/three.js"></script>
		<script src="../../node_modules/three/examples/js/controls/TrackballControls.js"></script>
		<script src="../../node_modules/three/examples/js/loaders/MTLLoader.js"></script>

/*STUB_JS_EXT*/
		<script>
/*STUB_JS_INLINE*/
			var app = new OBJLoader2Verify( document.getElementById( 'example' ) );

			var resizeWindow = function () {
				app.resizeDisplayGL();
			};

			var render = function () {
				requestAnimationFrame(render);
				app.render();
			};

			window.addEventListener('resize', resizeWindow, false);

			console.log("Starting initialisation phase...");
			app.initGL();
			app.resizeDisplayGL();
			app.initPostGL();

			render();

		</script>
	</body>
</html>
