.idea

/archive
/build
/docs/

#/examples/js/loaders/OBJLoader.js
#/examples/jsm/loaders/OBJLoader.js
#/examples/jsm/loaders/OBJLoader.d.ts
/public/models/draco
/public/models/gltf
/public/models/obj/bugs/

/node_modules
