.idea

archive
dist
lib
node_modules

/packages/examples/models/draco
/packages/examples/models/gltf
/packages/examples/models/obj/bugs
/packages/examples/models/obj/extra
/packages/examples/models/obj/misc

/packages/objloader2/src/worker/OBJLoader2WorkerClassic.js
/packages/objloader2/src/worker/OBJLoader2WorkerModule.js

tsconfig.tsbuildinfo
*.tgz
