.idea

archive
dist
node_modules

/packages/examples/models/draco
/packages/examples/models/gltf
/packages/examples/models/obj/bugs
/packages/examples/models/obj/extra
/packages/examples/models/obj/misc

tsconfig.tsbuildinfo
*.tgz
