<!DOCTYPE html>
<html lang="en">
	<head>
		<title>three.js webgl - WWOBJLoader2</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
/*STUB_CSS_EMBED*/
/*STUB_CSS_LINK*/
	</head>

	<body>
		<div id="glFullscreen">
			<canvas id="example"></canvas>
		</div>
		<div id="dat">

		</div>
		<div id="info">
			<a href="http://threejs.org" target="_blank" rel="noopener">three.js</a> - OBJLoader2 direct loader test
			<div id="feedback"></div>
		</div>
		<input id="fileUploadInput" type="file" name="files[]" multiple accept=".obj,.mtl" />

		<script src="../../node_modules/three/examples/js/Detector.js"></script>
/*STUB_JS_THREE*/
		<script src="../../node_modules/three/examples/js/controls/TrackballControls.js"></script>
		<script src="../../node_modules/three/examples/js/loaders/MTLLoader.js"></script>
		<script src="../../node_modules/three/examples/js/libs/dat.gui.min.js"></script>

/*STUB_JS_EXT*/
		<script>
/*STUB_JS_INLINE*/

			var app = new WWOBJLoader2Example( document.getElementById( 'example' ) );

			// Init dat.gui and controls
			var elemFileInput = document.getElementById( 'fileUploadInput' );
			var WWOBJLoader2Control = function() {
				this.smoothShading = app.smoothShading;
				this.doubleSide = app.doubleSide;
				this.streamMeshes = app.streamMeshes;
			};
			var wwObjLoader2Control = new WWOBJLoader2Control();

			var gui = new dat.GUI( {
				autoPlace: false,
				width: 320
			} );

			var menuDiv = document.getElementById( 'dat' );
			menuDiv.appendChild(gui.domElement);
			var folderOptions = gui.addFolder( 'WWOBJLoader2 Options' );
			var controlSmooth = folderOptions.add( wwObjLoader2Control, 'smoothShading' ).name( 'Smooth Shading' );
			controlSmooth.onChange( function( value ) {
				console.log( 'Setting smoothShading to: ' + value );
				app.alterSmoothShading();
			});

			var controlDouble = folderOptions.add( wwObjLoader2Control, 'doubleSide' ).name( 'Double Side Materials' );
			controlDouble.onChange( function( value ) {
				console.log( 'Setting doubleSide to: ' + value );
				app.alterDouble();
			});

			var controlStreamMeshes = folderOptions.add( wwObjLoader2Control, 'streamMeshes' ).name( 'Stream Meshes' );
			controlStreamMeshes.onChange( function( value ) {
				console.log( 'Setting streamMeshes to: ' + value );
				app.streamMeshes = value;
			});

			if ( app.fileApiAvailable ) {

				wwObjLoader2Control.pathTexture = '../../resource/obj/female02/';
				var controlPathTexture = folderOptions.add( wwObjLoader2Control, 'pathTexture' ).name( 'Relative path to textures' );
				controlPathTexture.onChange( function( value ) {
					console.log( 'Setting pathTexture to: ' + value );
					app.pathTexture = value + '/';
				});

				wwObjLoader2Control.loadObjFile = function () {
					elemFileInput.click();
				};
				folderOptions.add( wwObjLoader2Control, 'loadObjFile' ).name( 'Load OBJ/MTL Files' );

				var handleFileSelect = function ( object3d ) {
					app._handleFileSelect( object3d, wwObjLoader2Control.pathTexture );
				};
				elemFileInput.addEventListener( 'change' , handleFileSelect, false );

				wwObjLoader2Control.clearAllAssests = function () {
					app.clearAllAssests();
				};
				folderOptions.add( wwObjLoader2Control, 'clearAllAssests' ).name( 'Clear Scene' );

			}
			folderOptions.open();



			// init three.js example application
			var resizeWindow = function () {
				app.resizeDisplayGL();
			};

			var render = function () {
				requestAnimationFrame( render );
				app.render();
			};

			window.addEventListener( 'resize', resizeWindow, false );


			console.log( 'Starting initialisation phase...' );
			app.initGL();
			app.resizeDisplayGL();

			var prepData = new THREE.LoaderSupport.PrepData( 'male02' );
			var pivot = new THREE.Object3D();
			pivot.position.set( 0, 0, 0 );
			prepData.setStreamMeshesTo( pivot );
			prepData.addResource( new THREE.LoaderSupport.ResourceDescriptor( '../../resource/obj/male02/male02.obj', 'OBJ'	) );
			prepData.addResource( new THREE.LoaderSupport.ResourceDescriptor( '../../resource/obj/male02/male02.mtl', 'MTL' ) );
			prepData.automatedRun = true;
			prepData.crossOrigin = 'anonymous';
			app.addToLoadList( prepData );

			prepData = new THREE.LoaderSupport.PrepData( 'WaltHead' );
			pivot = new THREE.Object3D();
			pivot.position.set( -100, 0, 0 );
			prepData.setStreamMeshesTo( pivot );
			prepData.addResource( new THREE.LoaderSupport.ResourceDescriptor( '../../resource/obj/walt/WaltHead.obj', 'OBJ' ) );
			prepData.addResource( new THREE.LoaderSupport.ResourceDescriptor( '../../resource/obj/walt/WaltHead.mtl', 'MTL' ) );
			prepData.automatedRun = false;
			prepData.crossOrigin = 'anonymous';
			app.addToLoadList( prepData );

			prepData = new THREE.LoaderSupport.PrepData( 'Cerberus' );
			pivot = new THREE.Object3D();
			pivot.position.set( 100, 0, 0 );
			var scale = 400.0;
			pivot.scale.set( scale, scale, scale );
			prepData.setStreamMeshesTo( pivot );
			prepData.addResource( new THREE.LoaderSupport.ResourceDescriptor( '../../resource/obj/vive-controller/vr_controller_vive_1_5.obj', 'OBJ' ) );
			prepData.automatedRun = false;
			prepData.crossOrigin = 'anonymous';
			app.addToLoadList( prepData );

			app.processLoadList();

			// kick render loop
			render();

		</script>
	</body>
</html>