<!DOCTYPE html>
<html lang="en">
	<head>
		<title>WWOBJLoader Testbed</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
/*STUB_CSS_EMBED*/
/*STUB_CSS_LINK*/
	</head>

	<body>
		<div id="glFullscreen">
			<div id="menu">
				<h1>Select OBJ files:</h1>
				<p>
					<span class="asset" onclick="loadAssets( objsFemaleMale )">Male + Female</span>
					<span class="offsite">(<a href="http://threejs.org" target="_blank">three.js</a>)</span>
				</p>
				<p>
					<span class="asset" onclick="loadAssets( objsWaltHead )">Walt Head</span>
					<span class="offsite">(<a href="http://threejs.org" target="_blank">three.js</a>)</span>
				</p>
				<p>
					<span class="asset" onclick="loadAssets( objsCerberus )">Cerberus</span>
					<span class="offsite">(<a href="http://threejs.org" target="_blank">three.js</a>)</span>
				</p>
				<p>
					<span class="asset" onclick="loadAssets( objsVive )">Vive Controller</span>
					<span class="offsite">(<a href="http://threejs.org" target="_blank">three.js</a>)</span>
				</p>
				<p>
					<span class="asset" onclick="loadAssets( objsZomaxSink )">Sink</span>
					<span class="extras">(45MB->178MB)</span>
					<span class="offsite">(<a href="https://zomax.net" target="_blank">Zomax</a>)</span>
				</p>
				<p>
					<span class="asset" onclick="loadAssets( objsZomaxOven )">Oven</span>
					<span class="extras">(43MB->150MB)</span>
					<span class="offsite">(<a href="https://zomax.net" target="_blank">Zomax</a>)</span>
				</p>
				<p>
					<span class="asset" onclick="loadAssets( objsPtv1Zip )">PTV1</span>
					<span class="extras">(26MB->150MB)</span>
					<span class="offsite">(<a href="http://kaisalmen.de" target="_blank">Kai</a>/<a href="http://zeroSouth.com" target="_blank">ZeroSouth</a>)</span>
				</p>
				<br><br>
				<p class="clear" onclick="app.clearAllAssests();">Clear all assets</p>
			</div>
			<canvas id="example"></canvas>
		</div>
		<div id="info">
			<a href="http://threejs.org" target="_blank" rel="noopener">three.js</a> - WWOBJLoader
			<div id="feedback"></div>
		</div>

		<script src="../../node_modules/three/examples/js/Detector.js"></script>
/*STUB_JS_THREE*/
		<script src="../../node_modules/three/examples/js/controls/TrackballControls.js"></script>
		<script src="../../node_modules/three/examples/js/loaders/MTLLoader.js"></script>
		<script src="../../node_modules/jszip/dist/jszip.min.js"></script>

/*STUB_JS_EXT*/
		<script>
/*STUB_JS_INLINE*/

			var app = new WWOBJLoader2Stage( document.getElementById( 'example' ) );
			var loadAssets = function ( assets ) {
				if ( ! app.processing ) {

					app.updateAssets( assets );
					app.reloadAssets();

				}
			};

			var resizeWindow = function () {
				app.resizeDisplayGL();
			};

			var render = function () {
				requestAnimationFrame( render );
				app.render();
			};

			window.addEventListener( 'resize', resizeWindow, false );

			console.log( 'Starting initialisation phase...' );
			app.initGL();
			app.resizeDisplayGL();


			var objsFemaleMale = [];
			var prepData = new THREE.LoaderSupport.PrepData( 'male02' );
			var pivot = new THREE.Object3D();
			pivot.position.set( 100, 0, -75 );
			prepData.setSceneGraphBaseNode( pivot );
			prepData.addResource( new THREE.LoaderSupport.ResourceDescriptor( '../../resource/obj/male02/male02.obj', 'OBJ' ) );
			prepData.addResource( new THREE.LoaderSupport.ResourceDescriptor( '../../resource/obj/male02/male02.mtl', 'MTL' ) );
			objsFemaleMale.push( prepData );

			prepData = new THREE.LoaderSupport.PrepData( 'female02' );
			pivot = new THREE.Object3D();
			pivot.position.set( -100, 0, 75 );
			prepData.setSceneGraphBaseNode( pivot );
			prepData.addResource( new THREE.LoaderSupport.ResourceDescriptor( '../../resource/obj/female02/female02.obj', 'OBJ' ) );
			prepData.addResource( new THREE.LoaderSupport.ResourceDescriptor( '../../resource/obj/female02/female02.mtl', 'MTL' ) );
			objsFemaleMale.push( prepData );

			var objsCerberus = [];
			prepData = new THREE.LoaderSupport.PrepData( 'cerberus' );
			pivot = new THREE.Object3D();
			pivot.position.set( 0, -100, 0 );
			pivot.scale.set( 50.0, 50.0, 50.0 );
			prepData.setSceneGraphBaseNode( pivot );
			prepData.addResource( new THREE.LoaderSupport.ResourceDescriptor( '../../resource/obj/cerberus/Cerberus.obj', 'OBJ' ) );
			objsCerberus.push( prepData );

			var objsWaltHead = [];
			prepData = new THREE.LoaderSupport.PrepData( 'WaltHead' );
			pivot = new THREE.Object3D();
			pivot.position.set( 0, 0, -200 );
			prepData.setSceneGraphBaseNode( pivot );
			prepData.addResource( new THREE.LoaderSupport.ResourceDescriptor( '../../resource/obj/walt/WaltHead.obj', 'OBJ' ) );
			prepData.addResource( new THREE.LoaderSupport.ResourceDescriptor( '../../resource/obj/walt/WaltHead.mtl', 'MTL' ) );
			objsWaltHead.push( prepData );

			var objsVive = [];
			prepData = new THREE.LoaderSupport.PrepData( 'Vive Controller' );
			pivot = new THREE.Object3D();
			pivot.position.set( 0, 0, 200 );
			pivot.scale.set( 400.0, 400.0, 400.0 );
			prepData.setSceneGraphBaseNode( pivot );
			prepData.addResource( new THREE.LoaderSupport.ResourceDescriptor( '../../resource/obj/vive-controller/vr_controller_vive_1_5.obj', 'OBJ' ) );
			objsVive.push( prepData );

			var objsPtv1Zip = [];
			prepData = new THREE.LoaderSupport.PrepData( 'PTV1' );
			pivot = new THREE.Object3D();
			pivot.position.set( -250, 0, -200 );
			prepData.setSceneGraphBaseNode( pivot );
			prepData.addResource( new THREE.LoaderSupport.ResourceDescriptor( '../../resource/obj/PTV1/PTV1.zip', 'ZIP' ) );
			prepData.addResource( new THREE.LoaderSupport.ResourceDescriptor( '../../resource/obj/PTV1/PTV1.obj', 'OBJ' ) );
			prepData.addResource( new THREE.LoaderSupport.ResourceDescriptor( '../../resource/obj/PTV1/PTV1.mtl', 'MTL' ) );
			objsPtv1Zip.push( prepData );

			// https://zomax.net/download/263/zomax-net_haze-sink-scene.zip
			// https://zomax.net/download/263/zomax-net_haze-sink-scene.zip
			var objsZomaxOven = [];
			prepData = new THREE.LoaderSupport.PrepData( 'oven' );
			pivot = new THREE.Object3D();
			pivot.position.set( 0, 0, -75 );
			prepData.setSceneGraphBaseNode( pivot );
			prepData.addResource( new THREE.LoaderSupport.ResourceDescriptor( '../../resource/obj/zomax/zomax-net_haze-oven-scene.zip', 'ZIP' ) );
			prepData.addResource( new THREE.LoaderSupport.ResourceDescriptor( '../../resource/obj/zomax/zomax-net_haze-oven-scene.obj', 'OBJ' ) );
			objsZomaxOven.push( prepData );

			var objsZomaxSink = [];
			prepData = new THREE.LoaderSupport.PrepData( 'sink' );
			pivot = new THREE.Object3D();
			pivot.position.set( 0, 0, 75 );
			prepData.setSceneGraphBaseNode( pivot );
			prepData.addResource( new THREE.LoaderSupport.ResourceDescriptor( '../../resource/obj/zomax/zomax-net_haze-sink-scene.zip', 'ZIP' ) );
			prepData.addResource( new THREE.LoaderSupport.ResourceDescriptor( '../../resource/obj/zomax/zomax-net_haze-sink-scene.obj', 'OBJ' ) );
			objsZomaxSink.push( prepData );

			app.updateAssets( objsFemaleMale );
			app.reloadAssets();

			render();

		</script>
	</body>
</html>

