body {
	font-family: Monospace;
	background-color: #000;
	color: #fff;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: none;
	cursor: default;
}
#info {
	color: #fff;
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}
#info a {
	color: #f00;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer
}
#glFullscreen {
	width: 100%;
	height: 100vh;
	min-width: 640px;
	min-height: 360px;
	position: relative;
	overflow: hidden;
	z-index: 0;
}
#example {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #000000;
}
#feedback {
	color: darkorange;
}
#dat {
	user-select: none;
	position: absolute;
	left: 0px;
	top: 0px;
	z-Index: 2;
}
#fileUploadInput {
	visibility: hidden;
}

