#menu {
    margin: 4px 4px 4px 4px;
    padding: 4px 12px 4px 12px;
    border: solid darkorange;
    border-radius: 8px;
    position: absolute;
    left: 0px;
    top: 0px;
}
#shading, #side {
    border: solid 4px;
    border-radius: 4px;
    font-size: 18pt;
    cursor: pointer;
    width: 200px;
}
#shading {
    border-color: darkgreen;
    background-color: darkgreen;
}
#side {
    border-color: darkorange;
    background-color: darkorange;
}
